// Fonts
$font-main: 'Roboto', sans-serif;
$font-heading: 'Alegreya SC', serif;
$font-table:  'Lato', sans-serif;

//Colors
$color-primary: #3D195B;
$color-white: #FFFFFF;
$color-secondary: #160647;
$color-btn-bg: #A17FFF;
$color-bg: #e3e8e6;
